/* IMPORTACION DE ARCHIVOS - VINCULADO DE ESTILOS */
/* Variables */
body {
  background-color: white;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

/* HEADER INICIO */
/* HEADER */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2C3E50;
  color: #ECF0F1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  position: fixed;
  top: 40px;
  z-index: 999;
}
.main-header .logo {
  display: flex;
  align-items: center;
}
.main-header .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ECF0F1;
}
.main-header .logo img {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #ECF0F1;
}
.main-header .logo h1 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
.main-header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.main-header nav ul li {
  margin-left: 15px;
}
.main-header nav ul li a {
  text-decoration: none;
  color: #ECF0F1;
  font-size: 14px;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 2px;
}
.main-header nav ul li a:hover {
  color: #3498DB;
  border-bottom: 2px solid #3498DB;
}

/* GLOBAL - BOTONES */
/* BOTON VER PRODUCTOS */
.boton-productos-heroinicio {
  font-size: 23px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 20px;
  font-weight: bold;
}
.boton-productos-heroinicio:hover {
  text-decoration: none;
  color: rgb(47, 46, 47);
  font-weight: bold;
  background-color: rgba(143, 142, 142, 0.8);
  border-radius: 20px;
}

/* BOTON VOLVER AL INICIO */
.boton-volver {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: large;
  background-color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  margin: 20px auto;
  display: block;
  width: fit-content;
}
.boton-volver:hover {
  background-color: #444;
  transform: scale(1.05);
}
.boton-volver:active {
  background-color: #222;
  transform: scale(0.95);
}

/* BARRA DE ANUNCIOS */
.announcement-bar {
  width: 100%;
  background-color: #765A3D;
  color: white;
  padding: 0;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}
.announcement-bar p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
  animation: marquee 40s linear infinite;
  animation-delay: 0s;
}

/* Este efecto lo encontre en internet por que vi este announce bar en otra web y queria replicarla */
@keyframes marquee {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(-20%);
  }
}
/* FOOTER GENERAL */
.footer {
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 30px 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 10px 20px;
}
.footer .footer-content .footer-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.footer .footer-content .footer-section p,
.footer .footer-content .footer-section ul {
  font-size: 14px;
  line-height: 1.5;
}
.footer .footer-content .footer-section .contact span {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}
.footer .footer-content .footer-section.links ul {
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer-section.links ul li {
  margin-bottom: 10px;
}
.footer .footer-content .footer-section.links ul li a {
  color: #ECF0F1;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}
.footer .footer-content .footer-section.links ul li a:hover {
  color: #3498DB;
}
.footer .footer-content .footer-section .contact-form {
  display: flex;
  flex-direction: column;
}
.footer .footer-content .footer-section .contact-form .contact-input {
  width: calc(100% - 20px);
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #BDC3C7;
  border-radius: 5px;
  font-size: 14px;
  background-color: #FFFFFF;
}
.footer .footer-content .footer-section .contact-form .contact-input:focus {
  outline: none;
  border-color: #3498DB;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.footer .footer-content .footer-section .contact-form .btn {
  background-color: #3498DB;
  color: #FFFFFF;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}
.footer .footer-content .footer-section .contact-form .btn:hover {
  background-color: #2980B9;
}
.footer .footer-bottom {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid #ECF0F1;
  margin-top: 20px;
}

/* FIXEAR FOOTER PARTE CONTACTO */
/* SubWebs Header */
.alternativo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2C3E50;
  color: #ECF0F1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
}
.alternativo-header .logo {
  display: flex;
  align-items: center;
}
.alternativo-header .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ECF0F1;
}
.alternativo-header .logo img {
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid #ECF0F1;
}
.alternativo-header .logo h1 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
.alternativo-header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.alternativo-header nav ul li {
  margin-left: 15px;
}
.alternativo-header nav ul li a {
  text-decoration: none;
  color: #ECF0F1;
  font-size: 14px;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 2px;
}
.alternativo-header nav ul li a:hover {
  color: #3498DB;
  border-bottom: 2px solid #3498DB;
}

/* HERO PAGINA INICIO*/
.title-inicio {
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.video-background video#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background: url("../media/video_hero.mp4") no-repeat;
  background-size: cover;
}

.contenido {
  font-size: 32px;
  color: #FFFFFF;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.boton-productos {
  font-size: 23px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 40px;
  border-radius: 20px;
  font-weight: bold;
}
.boton-productos:hover {
  text-decoration: none;
  color: rgb(47, 46, 47);
  background-color: rgba(143, 142, 142, 0.8);
  border-radius: 20px;
}

.img-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-inicio img {
  max-width: 100%;
  height: 800px;
}

/* WEB PRODUCTOS */
.seccion-productos {
  margin-top: 100px;
}

.titulo-productos {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}
.titulo-productos::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #000;
  margin: 10px auto 0;
}

.title-productos-individual {
  font-size: 2em;
  color: #333;
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  position: relative;
}
.title-productos-individual::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #000;
  margin: 10px auto 0;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 20px;
}
.product-grid .product-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.product-grid .product-item img {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 10px;
}
.product-grid .product-item h2 {
  font-size: 1.5em;
  margin: 10px 0;
}
.product-grid .product-item p {
  font-size: 1.2em;
  color: #333;
}
.product-grid .product-item button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.product-grid .product-item button:hover {
  background-color: #444;
}

/* PAG CONTACTO */
.pag-contacto {
  margin-top: 100px;
}

.title-contacto {
  margin-top: 100px;
}

/* PAG SOBRE NOSOTROS */
#sobre-nosotros {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #333;
  margin-top: 50px;
}
#sobre-nosotros .title-sobrenosotros {
  text-align: center;
  color: #444;
  font-size: 32px;
  margin-bottom: 20px;
}
#sobre-nosotros p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}
#sobre-nosotros p:last-of-type {
  text-align: center;
  margin-bottom: 0;
}
#sobre-nosotros p strong {
  color: #2c3e50;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-us .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.about-us h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
.about-us p {
  font-size: 1.2em;
  margin-bottom: 40px;
}
.about-us .team-section .team-members {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.about-us .team-section .team-members .team-member {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 250px;
}
.about-us .team-section .team-members .team-member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}
.about-us .team-section .team-members .team-member p {
  font-size: 1em;
  color: #666;
}

/* PAG PROMOCIONES */
.pag-promociones {
  margin-top: 100px;
}

/*# sourceMappingURL=estilos.css.map */
