/* Variables */
$background-color: #ffff;
$primary-color: #2C3E50;
$secondary-color: #ECF0F1;
$accent-color: #3498DB;
$highlight-color: #765A3D;
$font-family: 'Helvetica Neue', sans-serif;
$heading-font-family: 'Arial', sans-serif;
$mono-font-family: 'Courier New', Courier, monospace;