/* HERO PAGINA INICIO*/

.title-inicio {
    font-size: 40px;
    font-family: $mono-font-family;
    text-align: center;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    video#myVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        transform: translate(-50%, -50%);
        background: url('../media/video_hero.mp4') no-repeat;
        background-size: cover;
    }
}

.contenido {
    font-size: 32px;
    color: #FFFFFF;
    font-family: $font-family;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.boton-productos {
    font-size: 23px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 20px;
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: rgb(47, 46, 47);
        background-color: rgba(143, 142, 142, 0.8);
        border-radius: 20px;
    }
}

.img-inicio {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-width: 100%;
        height: 800px;
    }
}