/* Estilos para el botón de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 1000; 
    animation: pulse 1.5s infinite; 
}

.whatsapp-button img {
    width: 50px; 
    height: 50px;
}

/* Efecto de pulsación en el botón */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Efecto de hover en el botón */
.whatsapp-button:hover {
    background-color: #128C7E; 
    transform: scale(1.2); 
}
